In [1]:
import tensorflow as tf 
import pandas as pd 
import numpy as np 
from tensorflow import keras
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
# from tensorflow.keras.layers.experimental import preprocessing

In [2]:
df = pd.read_csv(r'C:\Users\jgaur\Tensorflow_Tut\Stock_Prediction\GOOG.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-07,1397.939941,1402.989990,1390.380005,1393.339966,1393.339966,1502700
1,2020-01-08,1392.079956,1411.579956,1390.839966,1404.319946,1404.319946,1528000
2,2020-01-09,1420.569946,1427.329956,1410.270020,1419.829956,1419.829956,1500900
3,2020-01-10,1427.560059,1434.928955,1418.349976,1429.729980,1429.729980,1820700
4,2020-01-13,1436.130005,1440.520020,1426.020020,1439.229980,1439.229980,1652300

In [3]:
df.shape

(253, 7)

In [4]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,1484.095318,1503.603048,1466.368395,1485.681321,1485.681321,1.897083e+06
std,178.233660,176.478104,180.444330,177.683742,177.683742,7.684300e+05
min,1056.510010,1071.319946,1013.536011,1056.619995,1056.619995,3.468000e+05
25%,1396.859985,1415.699951,1386.020020,1403.260010,1403.260010,1.393000e+06
50%,1475.579956,1490.469971,1465.089966,1480.390015,1480.390015,1.660900e+06
75%,1578.589966,1593.709961,1554.280029,1573.010010,1573.010010,2.161600e+06
max,1824.520020,1847.199951,1822.650024,1827.989990,1827.989990,4.329100e+06

In [10]:
forcast_col = 'Close'
# print(df.tail())
forcast_out = int(math.ceil(0.01 * len(df)))
# print(features)
df['label'] = df[forcast_col].shift(-forcast_out)
print(df.head())

         Date         Open         High          Low        Close  \
0  2020-01-07  1397.939941  1402.989990  1390.380005  1393.339966
1  2020-01-08  1392.079956  1411.579956  1390.839966  1404.319946
2  2020-01-09  1420.569946  1427.329956  1410.270020  1419.829956
3  2020-01-10  1427.560059  1434.928955  1418.349976  1429.729980
4  2020-01-13  1436.130005  1440.520020  1426.020020  1439.229980

     Adj Close   Volume        label
0  1393.339966  1502700  1429.729980
1  1404.319946  1528000  1439.229980
2  1419.829956  1500900  1430.880005
3  1429.729980  1820700  1439.199951
4  1439.229980  1652300  1451.699951

In [11]:
X = np.array(df.drop(['label', 'Date'], axis=1))
# print(X)
X = preprocessing.scale(X)
# print("")
# print(X)
# X_ = preprocessing.Normalization()
X_lately = X[-forcast_out:]
df.dropna(inplace=True)
# print("")
# print(X_lately)
X = X[:-forcast_out]
y = np.array(df['label'])
print(X.shape)
print(y.shape)

(250, 6)
(250,)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape[-1])
print(X_test.shape)

6
(50, 6)

In [22]:
model = keras.models.Sequential([
    keras.layers.InputLayer(input_shape=(X_train.shape[-1])),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid'),
])
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 128)               896
_________________________________________________________________
dense_10 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 65
=================================================================
Total params: 9,217
Trainable params: 9,217
Non-trainable params: 0
_________________________________________________________________

In [23]:
loss = keras.losses.MeanSquaredError()
optimizer= keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss=loss, optimizer=optimizer)

In [24]:
history = model.fit(X_train, y_train, verbose=2)

7/7 - 0s - loss: 2244788.0000